'.source.scl':
  'editor':
    'autoIndentOnPaste': false
    'autoIndent': true
    'softTabs': true
    'tabLength': 2
    'commentStart': '// '
    'increaseIndentPattern': '^\\s*(if|then|elsif|else|case|[0-9]*\\:|for|while|do|repeat).*$'
    'decreaseIndentPattern': '^\\s*(then|do|end_if;|end_case;|end_for;|end_while;|until|end_repeat;).*$'
    'decreaseNextIndentPattern': '^\\s*(end_if;|end_case;|end_for;|end_while;|until|end_repeat;).*$'
